extends ../layout

block content
  include ../includes/nav
  
  .container.mt-4
    h1.mb-4 Uredi obavljene poslove: #{project.name}

    form(method="POST", action="/projects/" + project._id + "/edit-member?_method=PUT")
      .form-group.mb-4
        label.form-label(for="tasksCompleted") Obavljeni poslovi:
        textarea.form-control(
          name="tasksCompleted"
          rows="5"
        )= project.tasksCompleted || ''

      .d-flex.gap-2
        button.btn.btn-primary(type="submit") Spremi promjene
        a.btn.btn-outline-secondary(href="/projects/member") Natrag
