extends ../layout

block content
  include ../includes/nav

  h1.text-center Projekti

  .d-flex.justify-content-center.gap-3.mt-5
    a.btn.btn-primary.btn-lg(href="/projects/new") Novi projekt
    a.btn.btn-success.btn-lg(href="/projects/leader") Moji projekti kao voditelj
    a.btn.btn-info.btn-lg(href="/projects/member") Moji projekti kao član
    a.btn.btn-secondary.btn-lg(href="/projects/archive") Arhiva projekata

