extends ../layout

block content
  include ../includes/nav
  
  .container.mt-4
    h1.text-center.mb-4 Moji projekti kao član tima
    .d-flex.justify-content-between.mb-3
      a.btn.btn-secondary(href="/projects") ← Povratak na sve projekte
    
    if projects.length > 0
      table.table.table-striped.table-bordered
        thead
          tr
            th Naziv
            th Voditelj
            th Početak
            th Obavljeni poslovi
            th Akcije
        tbody
          each project in projects
            tr
              td= project.name
              td= project.author.username
              td= project.startDate.toLocaleDateString()
              td= project.tasksCompleted || '-'
              td
                a.btn.btn-sm.btn-info.me-1(href='/projects/' + project._id) Pregled
                if !project.archived
                  a.btn.btn-warning.me-2(href='/projects/' + project._id + '/edit-member') Uredi obavljene poslove
                else
                  span.text-muted (arhivirano)
    else
      .alert.alert-info Niste član niti jednog projektnog tima
