extends ../layout

block content
  include ../includes/nav
  
  h1.text-center Novi projekt
  form(method="POST" action="/projects")
    .mb-3
      label.form-label Naziv:
      input.form-control(type="text" name="name" required)
    .mb-3
      label.form-label Opis:
      textarea.form-control(name="description")
    .mb-3
      label.form-label Cijena:
      input.form-control(type="number" name="price" required)
    .mb-3
      label.form-label Obavljeni poslovi:
      input.form-control(type="text" name="tasksCompleted")
    .mb-3
      label.form-label Datum početka:
      input.form-control(type="date" name="startDate" required)
    .mb-3
      label.form-label Datum završetka:
      input.form-control(type="date" name="endDate" required)
    .mb-3
      label.form-label Članovi tima:
      each user in users
        .form-check
          input.form-check-input(
            type="checkbox"
            name="teamMembers[]"
            value=user._id
          )
          label.form-check-label= user.username
    button.btn.btn-success(type="submit") Spremi projekt
