nav.navbar.navbar-expand-lg.navbar-light.bg-light.mb-4.shadow-sm
  .container-fluid
    a.navbar-brand(href="/projects") 
      i.bi.bi-kanban
      |  Project Manager
    .d-flex.align-items-center
      if currentUser
        .me-3
          span.text-muted.small Prijavljeni ste kao:
          span.fw-bold.ms-1.text-dark= currentUser.username
        a.btn.btn-outline-danger(href="/logout")
          i.bi.bi-box-arrow-right
          |  Odjava
